
<div class="footer">    

    <div class="container">
        <div class="page-links">
            <twb-link routerLink="home" text="Home"></twb-link>
            <twb-link routerLink="faq" text="FAQ"></twb-link>
            <twb-link href="https://book.peek.com/s/dcce5dec-d710-4462-9848-c68b5b8b73f7/WRqbD" text="Book now"></twb-link>
            <twb-link (click)="OnClick()" text="Back to top"></twb-link>

        </div>
        <div class="contact">
            <div class="row">
                <mat-icon>phone</mat-icon>
                <span>416-371-7333</span>
            </div>
            <div class="row">
                <mat-icon>email</mat-icon>
                <span>torontowaterbikes@gmail.com</span>
            </div>
        </div>
        <twb-social-links class="footer-socials"></twb-social-links>
    </div>
</div>
