
<twb-hero backgroundImage="../../../assets/images/image1.png" title="{{'Where cycling meets water' | uppercase}}"></twb-hero>
<div class="page-container">
    <twb-screen src="../../../assets/images/image1.png" title="First Screen"></twb-screen>
    <twb-screen src="../../../assets/images/image1.png" title="Second Screen"></twb-screen>
    <twb-screen src="../../../assets/images/image1.png" title="Third Screen"></twb-screen>
    <twb-screen src="../../../assets/images/image1.png" title="Fourth Screen"></twb-screen>
    <twb-screen src="../../../assets/images/image1.png" title="Fifth Screen"></twb-screen>
</div>
