
<twb-hero backgroundImage="../../../assets/images/image1.png" title="{{'Where cycling meets water' | uppercase}}"></twb-hero>
<div class="page-container">
    <twb-screen src="../../../assets/images/image1.png" title="First Screen" content="This is content for the first screen!"></twb-screen>
    <twb-screen src="../../../assets/images/image1.png" title="Second Screen" content="This is content for the second screen!"></twb-screen>
    <twb-screen src="../../../assets/images/image1.png" title="Third Screen" content="This is content for the third screen!"></twb-screen>
    <twb-screen src="../../../assets/images/image1.png" title="Fourth Screen" content="This is content for the fourth screen!"></twb-screen>
    <twb-screen src="../../../assets/images/image1.png" title="Fifth Screen" content="This is content for the fifth screen!"></twb-screen>
</div>
