/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
:root {
    --highlight-color: #48D6FF;
    --headerfooterColor: rgba(72, 214, 255, 0.25);    
    .question-text-link {
        color: blue;
    }
}
.page-container {
    width: 80%;
    margin: 5em auto;
}
a {
    text-decoration: none;
}

a:hover, a:active {
    color: var(--highlight-color)
}
a:visited {
    color: unset;
}
html { height: 100%; overflow-x: hidden; scroll-behavior: smooth;}
body { height: 100%; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

