
<twb-hero heroTextColor="white" backgroundImage="../../../assets/images/image2.png" title="{{'Frequently Asked Questions' | uppercase}}"></twb-hero>
<div class="page-container">
    <twb-question questionTitle="What are your hours?" questionText="We are open every day from 8am to 10pm!"></twb-question>
    <twb-question questionTitle="Where can I book an appointment?" questionText="You can do so at the top or bottom of the page, or right <a class='question-text-link' target='_blank' href='https://book.peek.com/s/dcce5dec-d710-4462-9848-c68b5b8b73f7/WRqbD'>here</a>"></twb-question>
    <twb-question questionTitle="What are your rates?" questionText="Our rates start from 70$ + taxes and fees per hour with discounts for consecutive hours."></twb-question>

</div>

